body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: center;
  gap: 10px;
  width: 200px;
  margin: auto;
  
  
  
  
}
li {
  background-color: lightgray;
  color: rgb(255, 255, 255);
  width: auto;
  border-radius: 5px;
  list-style: none;
  padding: 10px;
  text-align: center; 
  
}

/*.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  height: 100%;
  width: auto;
  
}
.tags {
  height: 100%;
  width: 100%;
}

ul {
  display: flex;
  grid-template-columns: 1fr 2fr 3fr;

  gap: 10px;
}

li {
  background-color: lightgray;
  color: rgb(255, 255, 255);

}
*/